.image {
  min-height: 18vh;
}

.scroll {
  height: 70vh;
  overflow-y: scroll;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track #009dcf*/
.scroll::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #00609c;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #00609c;
}



.infoImg {
  display: block;
}