<div class="container">

  <h1 class="text-center mt-5">Conoce mas de esta hermosa fiesta</h1>
  
  <div class="mt-5 d-flex">
    <div class="Contenedor1">
      <div class="CajaArriba cajaImg">
        <p>Carrosas Motorizadas</p>
        <img src="../../../assets/img-categories/2.jpg" alt="">
      </div>
      <div class="CajaAbajo cajaVacia"></div>
    </div>

    <div class="Contenedor1">
      <div class="CajaAbajo cajaVacia"></div>
      <div class="CajaArriba cajaImg">
        img 2
      </div>
    </div>

    <div class="Contenedor1">
      <div class="CajaArriba cajaImg">
        img 1
      </div>
      <div class="CajaAbajo cajaVacia"></div>
    </div>

    <div class="Contenedor1">
      <div class="CajaAbajo cajaVacia"></div>
      <div class="CajaArriba cajaImg">
        img 2
      </div>
    </div>

    <div class="Contenedor1">
      <div class="CajaArriba cajaImg">
        img 1
      </div>
      <div class="CajaAbajo cajaVacia"></div>
    </div>

    <div class="Contenedor1">
      <div class="CajaAbajo cajaVacia"></div>
      <div class="CajaArriba cajaImg">
        img 2
      </div>
    </div>

  </div>
</div>