<div class="container">

  <h1 class="text-center mt-5">Gallery</h1>

  <div class="mt-5 d-flex">
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-2 Contenedor1">
        <a [routerLink]="['/compGalery']">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Carrosas Motorizadas</p>
            <img class="contenedorImg" src="../../../assets/img-categories/2.jpg" alt="">
          </div>
        </a>
        <div class="cajaVacia"></div>
      </div>

      <div class="col-12 col-sm-6 col-xl-2 Contenedor1">
        <div class="cajaVacia"></div>
        <a href="#">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Dizfras individual</p>
            <img class="contenedorImg" src="../../../assets/img-categories/3.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-xl-2 Contenedor1">
        <a href="#">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Comparsas</p>
            <img class="contenedorImg" src="../../../assets/img-categories/4.jpg" alt="">
          </div>
        </a>
        <div class="cajaVacia"></div>
      </div>

      <div class="col-12 col-sm-6 col-xl-2 Contenedor1">

        <div class="cajaVacia"></div>
        <a href="#">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Carrosas no Motorizadas</p>
            <img class="contenedorImg" src="../../../assets/img-categories/5.jpg" alt="">
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-xl-2 Contenedor1">
        <a href="#">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Colectivo coreográfico</p>
            <img class="contenedorImg" src="../../../assets/img-categories/6.jpeg" alt="">
          </div>
        </a>
        <div class="cajaVacia"></div>
      </div>

      <div class="col-12 col-sm-6 col-xl-2 Contenedor1 text-center">
        <div class="cajaVacia"></div>
        <a href="#">
          <div class="CajaArriba cajaImg">
            <p class="contenedorTxt">Murga</p>
            <img class="contenedorImg" src="../../../assets/img-categories/7.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Time line section  -->

</div>