h1{
    color: #fff;
    font-size: 50px;
}

.CajaArriba{
    margin: 5px;
    position: relative;
    border-radius: 20px;
    
}

.CajaArriba:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.9));
    border-radius: 20px;
}

.contenedorTxt{
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 30px;
}

.contenedorImg{
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 20px;
}

.cajaImg{
    width: 200px;
    height: 500px;
    background: linear-gradient(180deg, #000000 1%, #ffffff 100%);  
    /* background-image: url(./imgcarnaval.jpg);  */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.5);
}
.cajaVacia{
    width: 200px;
    height: 50px;
}

/*TimeLine*/

.contenedor-timeline{
    max-height: 135px;
    overflow-x: auto;
    
}

.contenedor-timeline::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    border-radius: 20px; 
  }
  
  .contenedor-timeline::-webkit-scrollbar-track {
    background: #63a355;        /* color of the tracking area */
    border-radius: 20px; 
  }
  
  .contenedor-timeline::-webkit-scrollbar-thumb {
    background-color: #009dcf;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #63a355;  /* creates padding around scroll thumb */
  }

.contenedor-timeline .item{
    min-width: 110px;
    color: #fff;
    font-size: 25px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
    border-radius: 50%;
    background-image: radial-gradient(circle at 50% 50%, #e85cff 0, #b752ff 25%, #8446f9 50%, #4e39da 75%, #002ebd 100%);
}